---
import { AuthForm } from '../components/auth/AuthForm';
import '../styles/global.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>LogisticsHub - Iniciar Sesión</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet" />
	</head>
	<body class="bg-slate-900 text-slate-200 font-['Inter',sans-serif]">
		<AuthForm client:load />
	</body>
</html>



